/*header*/
.navbar-brand{
	height: inherit;
}
h1{
	font-size: 40px;
}

#header-nav{
	background-color: #00BBFF;
	border: 0;
	border-radius: 0;
}
.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 2px 1px #1a1a1a;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#nav-list a{
	font-size: 1.5em;
	font-weight: 700;
	color: #000000;
	background-color: #00BBFF;
}
#nav-list a:hover{
	color: #FFFFFF;
}

#nav-list a span{
	font-size: 1em;
	margin-right: 5px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
 border: 2px solid #FFFFFF;
 background-color: #00BBFF;
}
.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus{
	background-color: #FFFFFF;
}
.navbar-header button.navbar-toggle:hover .icon-bar,.navbar-header button.navbar-toggle:focus .icon-bar  {
 border: 2px solid #00BBFF;
}
/*Body*/
body{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}
#page-head{
	font-size: 2.7em;
	font-weight: bold;
	color: #00BBFF;
	text-shadow: 1px 1px 1px #222;
	margin: 50px 30px;
}
section {
	border: 1px solid black;
	/*background-color: #e6e6e6;*/
	border-radius: 5px;
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 30px;
}

h3{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	height: 35px;
	border-bottom: 1px black solid;
	border-radius: 2px;
	line-height: 30px;
	margin: 0;
	color: #FFFFFF;
	background-color: #00BBFF;
}
section a:hover{
	text-decoration: none;
	color: #EE5511;
}
p {
	clear: both;
	padding: 20px;
	height: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	overflow: hidden;
}
@media(max-width: 480px){
	h1{
		font-size: 8vw;
	}
	.navba-brand{
		max-height: 80px;
	}
	#page-head{
		margin-top: 10px;
		margin-bottom: 30px;
		font-size: 7vw;
	}
	section{
		font-size: 4vw;
	}
	p{
		padding: 10px;
	}
	.navbar-header button.navbar-toggle {
  	margin-top: -40px;
  	border: 1px solid #FFFFFF;
}
	#collapsable-nav a{
		font-size: 5vw;
		margin: 0;
		padding-top: 3px;
		padding-bottom: 3px;
		height: 10vw;
	}
}