*{
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px
}
h1{
	margin: 30px;
	text-align: center;
	font-size: 1.75em;
}
@media (min-width: 992px) {
	.col-desk-4, .col-desk-6, .col-desk-12 {
		float: left;
		padding: 10px
	}
	.col-desk-4 {
		width: 33%;
		
	}
	.col-desk-6 {
		width: 50%;
	}
	.col-desk-12 {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-desk-4, .col-desk-6, .col-desk-12 {
		float: left;
		padding: 10px
	}
	.col-tab-4 {
		width: 33%;	
	}
	.col-tab-6 {
		width: 50%;
	}
	.col-tab-12 {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.col-desk-4, .col-desk-6, .col-desk-12 {
		float: left;
		padding: 10px
	}
	.col-mob-4 {
		width: 33%;
	}
	.col-mob-6 {
		width: 50%;
	}
	.col-mob-12 {
		width: 100%;
	}
}
.row {
	width: 100%;
}
section {
	position: relative;
	border: 1px solid black;
	background-color: #D3D3D3;
	border-radius: 5px;
}

h2{
	text-align:center;
	font-size: 1.25em;
	position: relative;
	top:0px;
	right: 0px;
	width: 120px;
	height: 25px;
	border-left: 1px black solid;
	border-bottom: 1px black solid;
	border-radius: 2px;
	margin: 0;
	float: right;
}	
#Chicken h2{
	background-color:#FF4D4D;
}
#Beef h2{
	color: white;
	background-color:#66C2FF;
}
#Suchi h2{
	background-color:#8CFF66;
}
p {
	clear: both;
	padding: 10px;
	height: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	overflow: hidden;
}